<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles-new.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
  <title>New Lipstick</title>
</head>

<body>
  <header class="header">Get free US standard shipping w/ $25+ Use Code: SHIP25</header>
  <nav>
    <ul>
      <li class="lip-home"><a href="/">Home</a></li>
      <li class="lip-list"><a href="/lipsticks">Products</a></li>
      <li><a href="/users/new">Create New User</a></li>
    </ul>
  </nav>


  
  <h5 class="shopping-bag">SHOPPING BAG</h5>
  <h1>Create New Lipstick</h1>

  <form action="/lipsticks" method="POST">
    <div class="lip-name">
      <label for="lipstick-name">Name:</label>
      <input type="text" id="lipstick-name" name="lipstickName" />
    </div>

    <div class="lip-shade">
      <label for="shades">Shade:</label>
      <input type="text" id="shades" name="shades" />
    </div>

    <div class="lip-description">
      <label for="description">Description:</label>
      <input type="text" name="description" id="description">
    </div>

    <div class="lip-ingridients">
      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" id="ingredients">
    </div>

    <div class="lip-technique">
      <label for="applicationTechniques">Application Techniques:</label>
      <input type="text" name="applicationTechniques" id="applicationTechniques">
    </div>

    <div class="lip-price">
      <label for="price">Price:</label>
      <input type="text" name="price" id="price">
    </div>

    <button type="submit">Submit</button>
  </form>

  <div class="info">
    <h4><a href="#">Contact</a></h4>
    <h4>Shipping</a></h4>
    <h4>Connect</a></h4>
    <h5>Sign up for emails to get 10% off your first order!</h5>
    <form action="#">
      <input type="text" placeholder="Email">
    </form>
    <form action="#">
      <input type="text" placeholder="Phone Number">
    </form>
    <button>Subscribe</button>

  </div>

  <footer class="followus">
    <h4 id="followtext">Follow Us</h4>
    <img id="social" src="/socialMedia.png" alt="social media icons">
  </footer>
  
</body>

</html>