<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <link rel="stylesheet" href="/styles-index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
    <title>Lipstick Names</title>
</head>

<body>
    <header class="header">Get free US standard shipping w/ $25+ Use Code: SHIP25</header>
    <main class="product-page">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lipsticks/new">Create New Lipstick</a></li>
                <li><a href="/users/new">Create New User</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
        <h1>Lipstick Names</h1>
        <img id="pastel-lipsticks" src="https://i.pinimg.com/originals/fc/ca/3c/fcca3c31cd5426d1d8769b02572330ff.gif"
            alt="dancing lipsticks">

        <ul>
            <% for (let i=0; i < allLipsticks.length; i++) { %>
                <li class="lippy-name">
                    <a href="/lipsticks/<%= allLipsticks[i]._id %>">
                        <%= allLipsticks[i].lipstickName %>
                    </a>

                    <form style="display: inline" action="/lipsticks/<%= allLipsticks[i]._id %>?_method=DELETE&name"
                        method="POST">
                        <button class="delete" type="submit">Delete</button>
                    </form>

                    <a href="/lipsticks/<%= allLipsticks[i]._id %>/edit">
                        <button class="edit" type="edit">Edit</button>
                    </a>
                </li>
                <% } %>
        </ul>

        <div class="info">
            <h4>Contact</h4>
            <h4>Shipping</h4>
            <h4>Connect</h4>
            <h5>Sign up for emails to get 10% off your first order!</h5>
            <form action="#">
                <input type="text" placeholder="Email">
            </form>
            <form action="#">
                <input type="text" placeholder="Phone Number">
            </form>
            <button>Subscribe</button>
        </div>


        <footer class="followus">
            <h4 id="followtext">Follow Us</h4>
            <img id="social" src="/socialMedia.png" alt="social media icons">
        </footer>

    </main>
</body>

</html>