<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lipstick Project-One</title>
</head>

<body>
    <main>
        <h1>Lipstick Project One</h1>

        <ul>
            <% for (let i=0; i < allLipsticks.length; i++) { %>
                <li>
                    <a href="/lipsticks/<%= allLipsticks[i]._id %>">
                        <%= allLipsticks[i].lipstickName %>
                    </a>
                    <button type="submit">Delete</button>
                </li>
            <% } %>
        </ul>



    </main>
</body>

</html>