<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Lipstick</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/lipsticks">Lipsticks</a></li>
            <li><a href="/lipsticks/lipstickNew">Create/Add New Lipstick</a></li>
        </ul>
    </nav>
    <h1>Create/Add New Lipstick</h1>
    <form action="/lipsticks" method="POST">
        <div>
            <label for="lipstick-name">Name: </label>
            <input type="text" id="lipstick-name" name="lipstickName" />
        </div>
        <div>
            <form action="/lipsticks" method="POST"></form>
            <label for="shades">Shade: </label>
            <input type="text" id="shades-name" name="shadesName" />
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>