<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Lipstick</title>
</head>

<body>
  <header class="header">Free Shipping On Orders $25+</header>

  <h4 class="products"><a href="/lipsticks">PRODUCTS</a></h4>
  <h4 class="shopping-bag">SHOPPING BAG</h4>

  <main class="main">
    <div>
      <h1>Lippie</h1>
      <button><a href="/lipsticks">Shop Now!</a></button>
      <p>About Lippies- Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, non quibusdam!
        Iure tempore,
        placeat vero vitae incidunt culpa. Eaque ipsam maxime aperiam sequi beatae quos culpa accusamus quisquam illum
        nesciunt.</p>
    </div>

  </main>

  <div class="info">
    <h5>Contact</h5>
    <h5>Shipping</h5>
    <h5>Newsletter</h5>
    <form action="#">
      <input type="text" placeholder="Email">
    </form>
    <form action="#">
      <input type="text" placeholder="Phone Number">
    </form>
    <button>Subscribe</button>

  </div>



  <footer class="followus">Follow Us</footer>
</body>

</html>