<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
  <title>Lipstick</title>
</head>

<body>
  <header class="header">Get free US standard shipping w/ $25+ Use Code: SHIP25</header>

  <h4 class="products"><a href="/lipsticks">PRODUCTS</a></h4>

  <img src="" alt="">
  <img id="cloud" src="https://cdn130.picsart.com/279612132029211.png?type=webp&to=min&r=640" alt="purple">
  <img id="cloud2" src="https://cdn130.picsart.com/279612132029211.png?type=webp&to=min&r=640" alt="purple">
  <main class="main">
    <div>
      <h1>Lippie</h1>
      <!-- <p>About Us</p> -->
      <p>Inspired by fairytales and dreamy aesthetics in their own lives, Michelle and Elissa developed
        their own unique brand of cruelty-free cosmetics for those who use makeup as an art form and everyday
        expression. We love Kenny & Michael, and everyone in this cohort!</p>
    </div>
    <button><a href="/lipsticks">Shop Now</a></button>

  </main>

  <!-- <img id="cloud" src="/cloud.png" alt=""> -->

  <div>
    <img class="collage" src="/pics.png" alt="collage">
  </div>

  <div>
    <img class="seen" src="/seen.png" alt="asseenon">
  </div>

  <div class="info">
    <h4>Careers</h4>
    <h4>Affiliates</h4>
    <h4>Contact Us</h4>
    <h4>Shipping</h4>
    <h4>Connect</h4>
    <h5>Sign up for emails to get 10% off your first order!</h5>
    <form action="#">
      <input class="email" type="text" placeholder="Email">
    </form>
    <form action="#">
      <input class="phone" type="text" placeholder="Phone Number">
    </form>
    <button class="subscribe">Subscribe</button>

  </div>

  <footer class="followus">
    <h4 id="followtext">Follow Us</h4>
    <img id="social" src="/socialMedia.png" alt="social media icons">
  </footer>

</body>

</html>