<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lipstick</title>
</head>
<body>
  <header>Free Shipping On Orders $25+</header>
  
  <h4>PRODUCTS</h4>
  <h4>SHOPPING CART</h4>
  
  <main>
    <h1>Brand Name</h1>
    <button>Shop Now!</button>
    <p>Brand Statement: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea repellat quas asperiores maxime nostrum nam ipsum quasi doloremque accusantium natus.</p>
    <h5>Contact</h5>
    <h5>Shipping</h5>
    <h5>Newsletter</h5>
  </main>
  
  <footer>Follow Us</footer>
</body>
</html>