header  {
  background-color: #DEA0A0;
  text-align: center;
  padding: 10px;
  font-family: 'Gothic A1', sans-serif;
}

nav {
  width: 95vw;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* background-color: #DEBFA0; */
  background-color: #DCDAF2;
}

li {
  list-style-type: none;
  padding: 5px;
}


body {
  background-color: #f2d9e4;
  font-family: 'Gothic A1', sans-serif;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
}

#pastel-lipsticks {
  position: relative;
  left: 10px;
}

.lippy-name {
  padding: 20px;
}

.info {
  text-align: left;
  position: relative;
  bottom: -423px;
  background-color: #DEA0A0;
  padding: 29px;
  border: solid white 5px;
  border-radius: 5px;
}

.followus {
  top: 450px;
  position: relative;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  background-color: #DEBFA0;
  padding: 2px;
  border: solid white 5px;
  border-radius: 5px;
}


#followtext {
  display: block;
  bottom: 20px;
  font-size: 26px;
  margin-bottom: 2px;
}

#social {
  width: 136px;
  height: 58px;
}

.lippy-name {
  margin: 0 auto;
}

.delete {
  margin: 0 5px;
}
