header  {
  background-color: #DEA0A0;
  /* background-color: #A0A0DE; */
  padding: 10px;
  font-family: 'Gothic A1', sans-serif;
  /* background-image: url('cloud.png'); */
}

#cloud {
  position: absolute;
  z-index: -1;
  top: 0;
}

body {
  /* background-color: rgb(219,154,178); */
  background-color: #f2d9e4;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  /* background-image: url('cloud.png'); */
}

h1 {
  font-family: 'Gorditas', cursive;
  color: #29194d;
}

.main {
  /* background-image: url("https://i2.wp.com/i.pinimg.com/originals/2f/9b/57/2f9b5739833df118a4fe09e782a96e32.jpg"); */
  background-image: url("https://im.vsco.co/aws-us-west-2/6f3a3b/115865135/5eee104af69a6f5f2d687c2e/vsco5eee104c85a98.jpg?w=412&dpr=2.625");
  background-repeat: no-repeat;
  border: solid white 5px;
    border-radius: 5px;
    padding: 5px;
    width: 120vh;
    height: 60vh;
    margin: 160px;
}

.info {
  text-align: left;
  position: relative;
  bottom: -423px;
  background-color: #DEA0A0;
  padding: 29px;
}

.products {
  text-align: left;
  font-family: 'Gothic A1', sans-serif;
}

.shopping-bag {
  text-align: right;
  position: relative;
  bottom: 40px;
  font-family: 'Gothic A1', sans-serif;

}

.product-page {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
  list-style: none;
  font-family: 'Gothic A1', sans-serif;
}

.followus {
  top: 450px;
  position: relative;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  background-color: #DEBFA0;
  padding: 2px;
}

#followtext {
  /* display: inline-block; */
  display: block;
  bottom: 20px;
  font-size: 26px;
  margin-bottom: 2px;
}

#social {
  width: 136px;
  height: 58px;
  /* display: inline; */
}

/* .aboutus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */

.new {
  background-color: #f2d9e4;
}