header  {
  background-color: #DEA0A0;
  padding: 10px;
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
}

li {
  list-style-type: none;
  text-align: left;
}

body {
  background-color: #f2d9e4;
  font-family: 'Gothic A1', sans-serif;
  
}

#purple-cloud {
  position: relative;
  left: 631px;
  bottom: 698px;
  z-index: -1;
}

#pink-cloud {
  position: relative;
  bottom: 785px;
  left: 629px;
}

#white-cloud {
  position: relative;
  bottom: 428px;
}

.info {
  text-align: left;
  position: relative;
  bottom: -423px;
  background-color: #DEA0A0;
  padding: 29px;
  border: solid white 5px;
  border-radius: 5px;
}

.followus {
  top: 450px;
  position: relative;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  background-color: #DEBFA0;
  padding: 2px;
  border: solid white 5px;
  border-radius: 5px;
}

#followtext {
  display: block;
  bottom: 20px;
  font-size: 26px;
  margin-bottom: 2px;
}

#social {
  width: 136px;
  height: 58px;
}

.lip-home {
  margin-left: -35px;
}

.lip-list {
  margin-left: -35px;
}

.products {
  font-size: 13px;
  margin-left: 5px;
  margin: 20px
}

.shopping-bag {
  margin-right: -30px;
}
