header  {
  background-color: #DEA0A0;
  text-align: center;
  padding: 10px;
  font-family: 'Gothic A1', sans-serif;
}

body {
  background-color: #f2d9e4;
  font-family: 'Gothic A1', sans-serif;
}

li {
  list-style-type: none;
}


.info {
  text-align: left;
  position: relative;
  bottom: -423px;
  background-color: #DEA0A0;
  padding: 29px;
  border: solid white 5px;
  border-radius: 5px;
}

.followus {
  top: 450px;
  position: relative;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  background-color: #DEBFA0;
  padding: 2px;
  border: solid white 5px;
  border-radius: 5px;
}

#follow-text {
 font-size: 26px;
}

#social {
  width: 136px;
  height: 58px;
}