header  {
  background-color: #DEA0A0;
  /* background-color: #A0A0DE; */
  text-align: center;
  padding: 10px;
  font-family: 'Gothic A1', sans-serif;
}

body {
  /* background-color: rgb(219,154,178); */
  background-color: #f2d9e4;
  /* text-align: center; */
  font-family: 'Gothic A1', sans-serif;
}

.info {
  text-align: left;
  position: relative;
  bottom: -423px;
  background-color: #DEA0A0;
  padding: 29px;
}

.followus {
  top: 450px;
  position: relative;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  background-color: #DEBFA0;
  padding: 6px;
}

#follow-text {
  /* display: inline-block; */
  /* display: block; */
  /* bottom: 200px; */
  
  font-size: 26px;
  
}

#social {
  width: 136px;
  height: 58px;
  /* display: inline; */
}