<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-usercart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">

    <title>Lipstick Project-One</title>
</head>

<body>
    <header class="header">Get free US standard shipping w/ $25+ Use Code: SHIP25</header>
    <main class="product-page">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lipsticks/new">Create New Lipstick</a></li>
                <li><a href="/lipsticks">Products</a></li>
                <li><a href="/users/new">Create New User</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
        <h1>Lipsticks</h1>


        <ul>
            <% for (let i=0; i < allLipsticks.length; i++) { %>
                <li>
                    <a href="/lipsticks/<%= allLipsticks[i]._id %>">
                        <%= allLipsticks[i].lipstickName %>
                    </a>

                    <a href="/users/<%= id %>/shoppingCart/add/<%= allLipsticks[i]._id %>">
                        <button type="edit">Add to Shopping Cart</button>
                    </a>
                </li>
                <% } %>
        </ul>

        <div class="info">
            <h4><a href="#">Contact</a></h4>
            <h4>Shipping</a></h4>
            <h4>Connect</a></h4>
            <h5>Sign up for emails to get 10% off your first order!</h5>
            <form action="#">
                <input type="text" placeholder="Email">
            </form>
            <form action="#">
                <input type="text" placeholder="Phone Number">
            </form>
            <button>Subscribe</button>
        </div>
    
        <footer class="followus">
            <h4 id="followtext">Follow Us</h4>
            <img id="social" src="/socialMedia.png" alt="social media icons">
        </footer>
    

    </main>
</body>

</html>