<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-usercart">

    <title>Lipstick Project-One</title>
</head>

<body>
    <main class="product-page">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lipsticks/new">Create New Lipstick</a></li>
                <li><a href="/lipsticks">Products</a></li>
                <li><a href="/users/new">Create New User</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
        <h1>Lipsticks</h1>


        <ul>
            <% for (let i=0; i < allLipsticks.length; i++) { %>
                <li>
                    <a href="/lipsticks/<%= allLipsticks[i]._id %>">
                        <%= allLipsticks[i].lipstickName %>
                    </a>

                    <a href="/users/<%= id %>/shoppingCart/add/<%= allLipsticks[i]._id %>">
                        <button type="edit">Add to Shopping Cart</button>
                    </a>
                </li>
                <% } %>
        </ul>


    </main>
</body>

</html>