<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-userindex.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">


    <title>User Index</title>
</head>

<body>

    <header class="header">Get free US standard shipping w/ $25+ Use Code: SHIP25</header>

    <main class="product-page">
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lipsticks">Products</a></li>
                <li><a href="/lipsticks/new">Create New Lipstick</a></li>
                <li><a href="/users/new">Create New User</a></li>
            </ul>
        </nav>
        <h1>Users</h1>
                <% for (let i=0; i < allUsers.length; i++) { %>
                    <li>
                        <a href="/users/<%= allUsers[i]._id %>">
                            <%= allUsers[i].name %>
                        </a>
                    </li>
                    <form style="display: inline" action="/users/<%= allUsers[i]._id %>?_method=DELETE&name"
                        method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <% } %>
        </main>


    

    <div class="info">
        <h4>Careers</h4>
        <h4>Affiliates</h4>
        <h4>Contact Us</h4>
        <h4>Shipping</h4>
        <h4>Connect</h4>
        <h5>Sign up for emails to get 10% off your first order!</h5>
        <form action="#">
            <input class="email" type="text" placeholder="Email">
        </form>
        <form action="#">
            <input class="phone" type="text" placeholder="Phone Number">
        </form>
        <button class="subscribe">Subscribe</button>

    </div>

    <footer class="followus">
        <h4 id="followtext">Follow Us</h4>
        <img id="social" src="/socialMedia.png" alt="social media icons">
    </footer>


</body>

</html>