<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/styles.css"> -->
  <link rel="stylesheet" href="/styles-usernew.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet"> -->
  <title>New User</title>
</head>

<body>

  <header class="header">Get free US standard shipping w/ $25+ Use Code: SHIP25</header>

  <nav>
    <ul>
      <li class="lip-home"><a href="/">Home</a></li>
      <li class="lip-list"><a href="/lipsticks">Products</a></li>
      <li><a href="/lipsticks/new">Create New Lipstick</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </nav>

  <h4 class="shopping-bag">SHOPPING BAG</h4>
  <h1>Create New User</h1>

  <form action="/users" method="POST">
    <div class="lip-name">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
    </div>

    <div class="lip-shade">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" />
    </div>
    <button type="submit">Submit</button>
  </form>

  <div class="info">
    <h4>Careers</h4>
    <h4>Affiliates</h4>
    <h4>Contact Us</h4>
    <h4>Shipping</h4>
    <h4>Connect</h4>
    <h5>Sign up for emails to get 10% off your first order!</h5>
    <form action="#">
      <input class="email" type="text" placeholder="Email">
    </form>
    <form action="#">
      <input class="phone" type="text" placeholder="Phone Number">
    </form>
    <button class="subscribe">Subscribe</button>

  </div>

  <footer class="followus">
    <h4 id="followtext">Follow Us</h4>
    <img id="social" src="/socialMedia.png" alt="social media icons">
  </footer>

</body>

</html>